html {
    color: #fff;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(150deg,#000,#0411cc);
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
    max-width: 50%;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15px;
}

.cabecalho .logo {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 2px solid white;
    text-decoration: underline;
    text-align: center;
    line-height: 55px;
    font-family: "Raleway", sans-serif;
    transition: 0.2s;
}

.cabecalho a:hover .logo {
    color: #017a2c;
    border: 2px solid #017a2c;
}

.cabecalho .menu li a {
    font-size: 20px;
    text-transform: capitalize;
    padding: 10px 20px;
    transition: 0.2s;
}

.cabecalho .menu li a:hover {
    background-color: #017a2c;
    color: white;
    border-radius: 50px;
}

.home {
    display: flex;
    min-height: calc(100vh - 125px);
    align-items: center;
    gap: 50px;
    justify-content: space-between;
}

.home .informacoes {
    display: flex;
    flex-direction: column;
    gap: 15px;
    letter-spacing: 2px;
    padding: 0 15px;
    max-width: 50%;
}

.home .informacoes h1 {
    font-family: "Raleway", sans-serif;
    font-size: 45px;
    margin-bottom: 25px;
}

.home .informacoes p {
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    margin-bottom: 25px;
}

.home .redes-sociais {
    display: flex;
    gap: 30px;
}

.home .redes-sociais a i {
    border: 1px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 10px;
    text-align: center;
    font-size: 28px;
    transition: 0.3s;
}

.home .redes-sociais a i:hover {
    color: #017a2c;
    border: 1px solid #017a2c;
    transform: scale(1.1);
}

.home .container-foto .foto {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.home .container-foto img {
    width: 100%;
    border-radius: 50%;
}

.home .foto.sombra-interna {
    background: linear-gradient(to right, #8a35c8, #18c063, #00eea2);
}

.projetos {
    margin-top: 30px;
    margin-bottom: 150px;
    padding: 70px 0 70px;
}

.projetos .titulo {
    text-align: center;
    padding: 60px 0;
    font-size: 45px;
    font-weight: 500;
    text-transform: uppercase;
}

.projetos .container-projetos {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: center;
}

.projetos .projeto {
    max-width: 260px;
    max-height: 500px;
    margin-bottom: 50px;
    position: relative;
    display: none;
}

.projetos .projeto.ativo{
    display: block;
}

.projetos .projeto img{
    height: 100%;
}

.projetos .projeto h3{
    background-color: #040203;
    width: 100%;
    font-size: 25px;
    padding-left: 20px;
    padding-bottom: 18px;
    padding-top: 18px;
    position: absolute;
    bottom: 0;
}

.projetos .projeto .informacoes-project{
    background-color: #040203;
    position: absolute;
    top: 0;
    font-size: 25px;
    padding: 30px;
    width: 100%;
    height: 100%;
    font-weight: 600;
    opacity: 0;
    transition: 0.5;
}

.projetos .container-projetos .projeto:hover .informacoes-project{
    opacity: 0.7;
    transition: 0.3s;
    background-color: #000;
}

.projetos .btn-mostrar-mais{
    background: none;
    border: 1px solid #fff;
    border-radius: 15px;
    color: #fff;
    width: 180px;
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.projetos .btn-mostrar-mais:hover{
    background-color:#017a2c ;
    transition: 0.3s;

}

.projetos .btn-mostrar-mais.remover{
    display: none;
    
}